<form class="newtask" name="form" ng-submit="addTask()">
  <textarea class="newtask" placeholder="I'm ready to save.." autocomplete="off" type="text" name="newTask" ng-model="newTask" required></textarea>
  <button class="newtask add" ng-disabled="form.$invalid">Add</button>
</form>

<div class="tasks-wrapper">
  <div class="task" ng-repeat="task in tasks | filter:{done:false}">
    <input type="checkbox" ng-model="task.done" />
    <span ng-class="{'done':task.done}">{{task.text}}</span>
  </div>

  <div class="finished-tasks-wrapper">
    <div ng-hide="finishedTasks.length == 0">
      <span class="secondary-heading">{{finishedTasks.length}} finished {{finishedTasks.length === 1 ? "task" : "tasks"}}</span>
    </div>
    <div class="task" ng-repeat="task in tasks | filter:{done:true} as finishedTasks">
      <input type="checkbox" ng-model="task.done" />
      <span ng-class="{'done':task.done}">{{task.text}}</span>
    </div>
    <button class="newtask" ng-hide="finishedTasks.length == 0" ng-click="removeCompleted()">Remove completed</button>
  </div>
</div>