body {
  background-color: #0079bf;
  font-family: 'Montserrat', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.board-wrapper{
    width: 270px;
    margin: 0 5px;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;

    .board{
        background: #E2E4E6;
        border-radius: 3px;
        box-sizing: border-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        max-height: 100%;
        position: relative;
        white-space: normal;
        animation: boardEnter 500ms;

        .heading{
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            padding: 8px 10px;
            position: relative;
            min-height: 18px;
            font-size: 18px;
            font-weight: 800;
            color: #4d4d4d;

            &.sub-heading{
                font-size: 14px;
                min-height: 14px;
                padding: 8px;
                cursor: pointer;
            }

            .content{
                overflow: hidden;
                padding: 6px 6px 2px 8px;
                position: relative;
                z-index: 10;

                .drop-down{
                    margin-right: 6px;
                }
            }
        }

        .card-list {
            -webkit-box-flex: 1;
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            overflow-y: auto;
            overflow-x: hidden;
            margin: 0 4px;
            padding: 0 4px;
            z-index: 1;
            min-height: 0;
            
            .card{
                background-color: #fff;
                border: 0px solid;
                border-bottom: 1px solid #ccc;
                border-radius: 3px;
                cursor: pointer;
                margin-top: 6px;
                margin-bottom: 6px;
                max-width: 300px;
                min-height: 20px;
                position: relative;
                z-index: 0;
                // transition : 900ms all;

                &.is_hovered{
                    background-color: #EDEFF0;
                    transition : 100ms background-color;
                }

                &.is_focused {
                    transition : 100ms box-shadow;
                    box-shadow: 0px 0px 1px 2px #9e9e9e;
                }

                &.is_focused::after {
                    content: '';
                    height: 24px;
                    widows: 24px;
                    background-color: green;
                }

                &.is_saved{
                    animation: saved 500ms;
                    animation-delay: 200ms;
                }

                &.ng-enter {
                  -webkit-transition: 500ms all;
                  transition: 500ms all;
                  transform: translateX(100%);
                }

                &.ng-enter-stagger{
                    transition-delay: 0.1s;
                }

                &.ng-enter-active {
                  transform: translateX(0%);
                  -webkit-transition: 500ms all;
                  transition: 500ms all;
                }

                &.ng-leave {
                  -webkit-transition: 500ms all;
                  transition: 500ms all;
                  transform: translateX(0%);
                  opacity: 1;
                }

                &.ng-leave-active {
                  transform: translateX(100%);
                  opacity: 0;
                  -webkit-transition: 500ms all;
                  transition: 500ms all;
                }

                &.ng-move {
                  -webkit-transition: 500ms all;
                  transition: 500ms all;
                  transform: translateY(0%);
                  opacity: 1;
                }

                &.ng-move-active {
                  transform: translateY(100%);
                  opacity: 0;
                  -webkit-transition: 500ms all;
                  transition: 500ms all;
                }

                .card-details{

                    overflow: hidden;
                    padding: 6px 6px 2px 8px;
                    position: relative;
                    z-index: 10;

                    .card-content{
                        clear: both;
                        display: block;
                        font-weight: 400;
                        margin: 0 0 4px;
                        overflow: hidden;
                        text-decoration: none;
                        word-wrap: break-word;
                        font-size: 14px;
                        font-weight: 300;
                        color: #4d4d4d;
                        transition : 100ms color;

                        span.is_hovered {
                            color:#333;
                            transition : 100ms color;
                        }

                        .completed {
                            text-decoration: line-through;
                            color:gray;
                        }

                        span:focus {
                            outline: unset;
                            display: block;
                        }

                        .card-delete{
                            background-color: #EDEFF0;
                            background-clip: padding-box;
                            background-origin: padding-box;
                            border-radius: 3px;
                            opacity: .8;
                            padding: 2px 5px 2px 5px;
                            position: absolute;
                            right: 3px;
                            top: 3px;
                            visibility: hidden;
                            z-index: 40;

                            &.is_visible{
                                visibility: visible;
                            }
                            
                            &::before{
                                content: "\f1f8";
                                font-size: 12px;
                                font-family: "FontAwesome";
                                vertical-align: top;
                            }

                            &:hover {
                                opacity: 1;
                                background-color: #ccc;
                            }
                        }
                    }
                }   
            }
        }

        .card-composer {
            padding-bottom: 8px;
        }

        .open-card-composer {
                border-radius: 0 0 3px 3px;
                color: #8c8c8c;
                display: block;
                font-size: 12px;
                -webkit-box-flex: 0;
                -webkit-flex: 0 0 auto;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
                padding: 8px 10px;
                position: relative;
                // text-decoration: none;
                // -webkit-user-select: none;
                // user-select: none;
        }

        .open-card-composer:hover {
            background-color: #CDD2D4;
            color: #4d4d4d;
            text-decoration: underline;
        }
    }
}

@keyframes saved {
    50%  {box-shadow: 0px 0px 1px 2px rgb(127, 236, 131);}
    // 50%  {background-color: rgba(255, 255, 255, 1);}
    // 75%  {background-color: rgba(127, 236, 131, 0.5);}
}

@keyframes boardEnter {
    0% {transform: translateX(50px); opacity: 0;}
    100% {transform: translateX(0px); opacity: 1;}
}